[user]
    email = zul.zulkarnaen@gmail.com
    name = Zulkarnaen

[includeIf "gitdir:~/projects/tii/"] # job needs, like workspace/* so all included projects
    path = ~/.gitconfig-job

[includeIf "gitdir:~/Documents/notes/tii/"] # job needs, like workspace/* so all included projects
    path = ~/.gitconfig-job

[alias]
    co = checkout
    sw = switch
    df = diff
    dt = difftool --dir-diff
    cm = commit
    st = status
    rest = restore
    ft = fetch --prune
    lg = !"git lg1"
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg3 = !"git lg3-specific --all"

    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
    gldiff = log --full-diff -p

[core]
    editor = nvim
	excludesFile = ~/.gitignore

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[pull]
    rebase = false

[filter "kicad_sch"]
	clean = "sed -E 's/#(PWR|FLG)[0-9]+/#\\1?/'"
	smudge = cat
[filter "kicad_project"]
	clean = sed -E 's/^update=.*$/update=Date/'
	smudge = cat
