*.pre-oh-my-zsh
*.tmp
*history
*pid
*~
.Xauthority
.bash*
.bashrc
.cache*
.dropbox*
.fehbg
.gnome*
.histfile
.lesshst
.local
.oh-my-zsh*
.pki
.task/*
.vim/bundle/*
.viminfo
.wget*
.zcomp*
.zsh-update
Desktop/
Downloads/
Dropbox/
Pictures/

# GNU Global
GPATH
GRTAGS
GTAGS

# Vim
*.swo
*.swp
