*.pre-oh-my-zsh
*.swp
*.tmp
*history
*pid
*~
.Xauthority
.bash*
.bashrc
.cache*
.dropbox*
.fehbg
.gnome*
.histfile
.lesshst
.local
.oh-my-zsh*
.pki
.task/*
.viminfo
.wget*
.zcomp*
Downloads/
Dropbox/
