*.swp
*~
*history
*history
*pid
*pid
3D Objects/*
AppData/*
Contacts/*
Desktop/*
Documents/*
Downloads/
Downloads/
Downloads/*
Dropbox/
Favorites/*
Links/*
Music/*
NTU*
OneDrive/*
Saved Games/*
Searches/*
Videos/*
