! basic
! as recommended from ArchWiki
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! XTerm
xterm*VT100*width: true
xterm*VT100*faceName: inconsolata:size=9:antialias=false
xterm.scrollBar: False
xterm.depth:     24

! URxvt
URxvt.intensityStyles:	false
!!URxvt.background:     [70]#000000
URxvt.depth:		    32
URxvt.font: 		    xft:monospace:size=9
URxvt.italicFont: 	    xft:monospace:size=9:italic
URxvt.boldFont: 	    xft:monospace:size=9:bold
URxvt.boldItalicFont: 	xft:monospace:size=9:bold:italic
URxvt.scrollBar:	    false
URxvt.cursorColor:	    white

URxvt.depth: 32
URxvt*blurRadius: 3
URxvt*.shading: 15
URxvt.fading: 5
URxvt*skipBuiltinGlyphs: true
URxvt*linespace: 0
URxvt*letterSpace: 0
URxvt*externalBorder: 0
URxvt*internalBorder: 0
URxvt*.transparent: false
URxvt*saveLines: 0

!! Extensions:
URxvt.perl-ext-common:	default,matcher,resize-font,keyboard-select
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! matcher
URxvt.url-launcher:	/usr/bin/xdg-open
URxvt.matcher.button:	1
!! resize font
URxvt.resize-font.smaller:	C-j
URxvt.resize-font.bigger:	C-k


! ROFI
!                  bg       border   separator
rofi.color-window: #32302f, #a89984, #a89984

!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #32302f, #ebdbb2, #3c3836, #665c54, #fbf1c7
rofi.color-active: #d79921, #32302f, #d79921, #fabd2f, #32302f
rofi.color-urgent: #cc241d, #32302f, #cc241d, #fb4934, #32302f

! Base16 Monokai
! Scheme: Wimer Hazenberg (http://www.monokai.nl)

#define base00 #272822
#define base01 #383830
#define base02 #49483e
#define base03 #75715e
#define base04 #a59f85
#define base05 #f8f8f2
#define base06 #f5f4f1
#define base07 #f9f8f5
#define base08 #f92672
#define base09 #fd971f
#define base0A #f4bf75
#define base0B #a6e22e
#define base0C #a1efe4
#define base0D #66d9ef
#define base0E #ae81ff
#define base0F #cc6633
!#define background_opacity 98

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
