snippet t "asdfd"
<${1:div}>
	Hello World
</$1>
endsnippet

snippet t2 "asdfd"
<${1:div}>
	Hello World
</${1/(\w+).*/$1/}>
endsnippet

snippet todo "This is TODO notes"
endsnippet

snippet asd "asdfasdf"
	`echo $USER`
endsnippet

snippet date "asdfasd"
	`date`
endsnippet

snippet e "emphasis" b
\emph{${1:${VISUAL:text}}}
endsnippet

